:root {
  --mainBlue: #2A2A72;
  --lightBolue: #009ffD;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainLight: rgb(123, 255, 0);
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.uderline, .underline a:hover, a:focus, a:active {
  text-decoration: none !important;
}

.row {
  margin-top: 5px;
}

.text-title {
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBolue);
}

